body{
    background-color: lightgrey;
    margin: 0;
    padding: 0;

}

li {
    float: left;
    margin-left: 30%;
    margin-top: 10%;

}

a {
    font-size: 30px;
    text-decoration: none;
    color: inherit;
    padding-left: 30px;
}

.nav ul li a {
    text-decoration: none;
    margin: 0px 30px 0px 30px;
    color: rgba(0, 0, 0, 0.5);
}

.header {
    background-color: #3949ab;
    min-width: 95%;
    height: 100px;
    margin: 6px;
    border-radius: 3px;
    margin-top: -10px;
    box-shadow: -1px 4px 35px 7px rgba(0,0,0,0.45);
}

.welcome {
    top: 20px;
    left: 10px;
    position: relative;
    z-index: 3;
    font-size: 55px;
    font-family: Impact;
}

.nav {
    position: relative;
    float: left;
    background-color: white;
    width: 14%;
    height: 300px;
    margin-top: 2%;
    margin-left: -6%;
    box-shadow: -1px 4px 35px 7px rgba(0,0,0,0.45);
    z-index: 5;
    border-radius: 8px;
}

.nav:hover {
    animation: slide-right 0.5s forwards;
    transition-timing-function: ease-in-out;
    box-shadow: -1px 4px 35px 7px rgba(0,0,0,0.45);
}


.android {
    position: relative;
    margin-left: 30%;
    z-index: 5;
}

.content {
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    margin: 10%;
    margin-top: 0.5%;
    min-width: 80%;
    height: auto;
    padding: 3%;
    padding-top: 1%;
    padding-left: 2%;
    margin-right: 2%;
    background-color: white;
    box-shadow: -1px 4px 35px 7px rgba(0,0,0,0.45);
}

.thema-container {
    background-color: #00897b;
    min-height: 80%;
    height: auto;
    min-height: 150px;
    margin-top: 1%;
    box-shadow: -1px 4px 35px 7px rgba(0,0,0,0.45);
}

.thema-header {
    height: 25%;
    width: 100%;
    margin-top: 0;
    background-color: #005b4f;
    padding-top: 0.2px;
    padding-bottom: 0.2px;
}

.subject {
    font-size: 20px;
    font-family: Monospace;
    z-index: 4;
    text-decoration: none;
}

.description {
    position: relative;
    z-index: 7;
    margin-left: 50px;
}

.footer {
    margin-bottom: ;
}

.created-at {
    float: right;
    margin-top: 0;
    margin-right: 10px;
}

.footer {
    background-color: darkslategray;
    height: 250px;
    min-width: 100%;
}

@keyframes slide-right {
    0% {
        margin-left: -6%;
    }
    100% {
        margin-left: -3%;
    }
}

@keyframes slide-out-left {
    0% {
        margin-left: -3%;
    }
    100% {
        margin-left: -6%;
    }
}